
<form action='/articles/<%=@article.id%>' method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="title">Title</label><br>
  <input title="article" type="article" name="title" value ="<%=@article.title%>"/><br>
  <label for="content">Content</label><br>
  <input content="content" type="text" name="content" value="<%=@article.content%>"/><br>

  <input type="submit" value="Submit">
</form>
 

