<form action="/articles/<%= @article.id %>" method="post">

  <label for="title">Title: </label>
  <input type="text" name="title" value=" <%= @article.title %> ">
  <label for="contnet">Content: </label>
  <textarea name="content" rows="8" cols="80" value=" <%= @article.content %> "> </textarea>
  <input type="submit" name="" value="submit">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

</form>
