<h1>Create your own Article:</h1>
<form action="/articles" method="post">
<label for="Article Title">Title:</label>
<input type="text" name="title">
<br>
<label for="Content">Content:</label>
<br>
<textarea name="content" cols="75" rows="15"></textarea>
<br>
<input type="submit" id="Submit">
</form>