<h1> Article Creation </h1>
<form method="POST" action="/articles">
  <p>Title <input type="text" name="title" id="title"></p>
  <p>Content: <input type="text" name="content" id="content"></p>
  <input type="submit" id="Submit">
</form>