<!DOCTYPE html>
<html>
<head>
	<title>New Article</title>
</head>
<body>
	<h1>New Article</h1>
	<form method="POST" action="/articles" >
		<p>Title:</p>
		<textarea rows="1" cols="80" name="title" id="title"></textarea>
		<p>Content:</p>
		<textarea rows="10" cols="80" name="content" id="content"></textarea>
		<input type="submit" id="submit">
	</form>
</body>
</html>