<!Doctype html>
<html>
<head>
<meta charset='UTF-8' />

</head>
<body>
<form action='/articles' method="POST">
  <title>Add Articles</title>
  <label for="id">Id:</label><br>
  <input id="id" type="text" name="id" /><br>
  <label for="title">Title</label><br>
  <input title="title" type="text" name="title" /><br>
  <label for="content">Content</label><br>
  <input content="content" type="text" name="content" /><br><br>

  <input type="submit" value="Submit">
  </body>
</form>
</html>
